<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-ebooks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All&nbsp; E-books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-ebooks-link">
                <a href="{% url 'ebooks' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'ebooks' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'ebooks' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'ebooks' %}" class="dropdown-item">All E-books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="subjects-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                By Subjects
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subjects-link">
                <a href="{% url 'ebooks' %}?category=biography" class="dropdown-item">Biography & Autobiography</a>
                <a href="{% url 'ebooks' %}?category=computers" class="dropdown-item">Computers</a>
                <a href="{% url 'ebooks' %}?category=crime_fiction" class="dropdown-item">Crime Fiction</a>
                <a href="{% url 'ebooks' %}?category=history" class="dropdown-item">History</a>
                <a href="{% url 'ebooks' %}?category=medicine" class="dropdown-item">Medicine</a>
                <a href="{% url 'ebooks' %}?category=music" class="dropdown-item">Music</a>
                <a href="{% url 'ebooks' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'ebooks' %}?category=pets" class="dropdown-item">Pets</a>
                <a href="{% url 'ebooks' %}?category=romance" class="dropdown-item">Romance</a>
                <a href="{% url 'ebooks' %}?category=thrillers" class="dropdown-item">Thrillers</a>
                <a href="{% url 'ebooks' %}?category=biography,computers,crime_fiction,history,medicine,music,nature,pets,romance,thrillers" class="dropdown-item">All Subjects</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids Section
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="{% url 'ebooks' %}?category=6-8_years" class="dropdown-item">6-8 years</a>
                <a href="{% url 'ebooks' %}?category=9-12_years" class="dropdown-item">9-12 years</a>
                <a href="{% url 'ebooks' %}?category=13-15_years" class="dropdown-item">13-15 years</a>
                <a href="{% url 'ebooks' %}?category=6-8_years,9-12_years,13-15_years" class="dropdown-item">All E-Books for Kids</a>
            </div>
        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="readers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                E-Book Readers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="readers-link">
                <a href="{% url 'ebook_reader' %}?category=kindle" class="dropdown-item">Kindle</a>
                <a href="{% url 'ebook_reader' %}?category=kobo" class="dropdown-item">Kobo</a>
                <a href="{% url 'ebook_reader' %}?category=kindle,kobo" class="dropdown-item">All E-Book Readers</a>
            </div>
        </li>

        
    </ul>
</div>